* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #17181a;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  position: relative;
}

main {
  position: absolute;
}

#logo {
  color: #fff;
  font-family: "Abril Fatface";
  text-decoration: none;
}

.nav-header {
  position: relative;
  min-height: 10vh;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 90%;
  margin: auto;
  padding: 2rem 0rem;
  z-index: 2;
}

.line1,
.line2,
.line3 {
  width: 3rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: white;
  pointer-events: none;
}

.slide {
  min-height: 90vh;
  margin: 0 auto 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background: #17181a;
}

.hero-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  padding-left: 5rem;
  position: relative;
}

.hero-img {
  position: relative;
  flex: 1;
  flex-basis: 25rem;
  overflow: hidden;
}

.hero-img img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
}

.main-span {
  color: rgb(255, 139, 93);
}
.mountain-span {
  color: #85144b;
}
.hike-span {
  color: darksalmon;
}
.fashion-span {
  color: bisque;
}

.hero-desc h2 {
  font-family: "Abril Fatface";
  font-size: 4rem;
}

.hero-desc p {
  padding: 2rem 0;
  font-size: 1.5rem;
  color: #fff;
}

.explore {
  padding: 1rem 2rem;
  background: none;
  border: none;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 3px 15px;
  font-size: 1rem;
  text-decoration: none;
  align-self: center;
  cursor: pointer;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  opacity: 1;
  clip-path: circle(50px at 100% -10%);
  -webkit-clip-path: circle(50px at 100% -10%);
}

.burger {
  cursor: pointer;
}

.nav-links {
  font-size: 4rem;
  flex-basis: 30rem;
}
.date h3 {
  font-family: "Abril Fatface";
  color: #fff;
}
.nav-links h3 {
  padding: 3rem 0;
  font-size: 5rem;
}

.contact {
  flex-basis: 30rem;
}

.contact h2 {
  font-size: 2rem;
  padding: 1rem 0;
}

.contact p {
  font-size: 1.5rem;
  line-height: 2rem;
}

.reveal-img,
.reveal-text {
  position: absolute;
  width: 100%;
  height: 200%;
  background: #17181a;
  left: 0;
  top: -15%;
}

.cursor {
  width: 3rem;
  height: 3rem;
  border: 2px solid white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  transition-property: background, transform;
  transform-origin: 75% 75%;
}
.cursor.nav-active {
  background: rgb(255, 139, 93);
  transform: scale(3);
}
.cursor.explore-active {
  background: #fff;
  transform: scale(3);
}
.cursor-text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.5rem;
  font-family: "Abril Fatface";
  transform: translate(-50%, -50%);
}

.title {
  position: relative;
  overflow: hidden;
}

.title-swipe {
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  mix-blend-mode: darken;
  transform: translateY(100%);
}

.t-swipe1 {
  background: rgb(255, 139, 93);
}
.t-swipe2 {
  background: #85144b;
}
.t-swipe3 {
  background: darksalmon;
}
.t-swipe4 {
  background: bisque;
}

.scrollmagic-pin-spacer {
  position: static !important;
}

body.hide {
  overflow: hidden;
}
.and {
  display: flex;
  justify-content: center;
}
.main-page-date {
  display: flex;
  justify-content: center;
}

.main-page-date h4 {
  font-size: 2.5rem;
  font-family: "Abril Fatface";
}
.church {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem;
}

.church h3 {
  font-size: 3rem;
  font-family: "Abril Fatface";
}

/* Other pages */
.fashion1,
.fashion2,
.fashion3 {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin: auto;
  color: #fff;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
}

.fashion-img {
  height: 65vh;
  flex-basis: 30rem;
}
.fashion-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.fashion-text {
  flex: 1;
  position: relative;
  flex-basis: 25rem;
}

.fashion-text h1 {
  font-size: 4rem;
  padding: 4rem 0;
}

.fashion1 h1 {
  color: rgb(249, 150, 110);
}
.fashion2 h1 {
  color: rgb(251, 214, 169);
}
.fashion3 h1 {
  color: rgb(244, 141, 62);
}

.fashion-text p {
  font-size: 1.5rem;
  padding: 2rem 2rem 0 0;
  margin-bottom: 10rem;
}

.fashion-nr {
  font-size: 10rem;
  position: absolute;
  left: 35%;
  bottom: 10%;
  color: #fff;
  opacity: 0.2;
}

.swipe {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-100%);
}

.swipe1 {
  background: rgb(255, 139, 93);
  z-index: 5;
}
.swipe2 {
  background: #85144b;
  z-index: 4;
}
.swipe3 {
  background: bisque;
  z-index: 3;
}

/* Mobile */
@media screen and (max-width: 1500px) {
  .hero-img {
    height: 50vh;
  }
  .fashion-text h1 {
    font-size: 2rem;
    padding: 1rem 0;
  }
  .fashion-text p {
    font-size: 1.2rem;
  }
  .fashion-img img {
    height: 50vh;
    object-position: top;
  }
}
@media screen and (max-width: 1024px) {
  main {
    width: 100%;
    margin: 0;
  }
  .slide {
    display: block;
    width: 100%;
    text-align: center;
  }
  .hero-desc {
    padding: 0;
  }
  .hero-desc h2 {
    font-size: 1.3rem;
    padding: 0.5rem 0;
  }
  .hero-desc h3 {
    font-size: 1rem;
    padding: 0;
  }
  .church {
    padding: 0.2rem 0.2rem;
  }
  .hero-desc h4 {
    font-size: 0.8rem;
    padding: 0.25rem 0;
  }
  .hero-desc p {
    padding: 1.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }
  .hero-img {
    /* padding-top: 2rem; */
    object-fit: cover;
  }
  img {
    /* max-width: 20rem; */
    /* max-height: 20rem; */
    /* height: auto; */
    /* max-width: 100%; */
  }
  #img1 {
    object-position: 0 40%;
  }
  #img2 {
    object-position: 0 24%;
  }
  #img3 {
    object-position: 0 40%;
  }
  #img4 {
    object-position: 0 10%;
  }
  .explore {
    width: 60%;
    margin: auto;
  }
  .detail-slide {
    width: 100%;
    text-align: center;
  }
  .fashion-text p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  .fashion-text h1 {
    padding: 1rem;
    margin: 0.5rem 0;
  }
  .fashion-nr {
    font-size: 8rem;
  }
  .nav-bar {
    display: block;
  }
  .nav-header {
    margin: 1rem;
  }
  .nav-links {
    margin-top: 2rem;
    font-size: 1rem;
    text-align: center;
  }
  .nav-links h3 {
    font-size: 3.5rem;
    padding: 4rem 0 0.5rem 0;
  }
  .contact h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .contact p {
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
  }
}
/* 390px and less */
@media screen and (max-width: 390px) {
  html {
    max-width: 390px;
    max-height: 100vh;
  }
  .nav-links h3 {
    font-size: 2rem;
    padding: 0;
    /* margin: 2rem; */
  }
  .nav-links h2 {
    font-size: 2rem;
  }
  .nav-links {
    margin: 2rem;
  }
  .hero-img {
    height: 22rem;
  }

  #img1 {
    width: 20rem;
    height: 20rem;
  }
  #img2 {
    width: 20rem;
    height: 20rem;
  }
  #img3 {
    width: 20rem;
    height: 20rem;
  }
  #img4 {
    width: 20rem;
    height: 20rem;
  }
  a {
    margin: 1rem;
  }
  /* .nav-header h1 {
    font-size: 1rem;
  } */
  .nav-bar {
    width: 390px;
    height: 100%;
    align-items: center;
    justify-items: center;
  }
  .nav-bar-mover {
    width: 390px;
    height: 100%;
    position: absolute;
    top: 20%;
  }
}
